<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тепличный Север</title>
    <link rel="stylesheet" href="/statics/styles/harvestDetailedResource.css">
</head>
<body>
<header>
    <h1>
        <a href="/harvestResources" style="color: white; text-decoration: none;">
            Тепличный север
        </a>
    </h1>
</header>
    
    <section class="service-detail-container">
        
        <div class="service-detail-card">
            <img src="{{.harvestResource.ImageURL}}" alt="{{.harvestResource.Name}}" class="service-detail-image">
            <div class="service-detail-content">
                <h2 class="service-detail-title">{{.harvestResource.Name}}</h2>
                <h3 class="service-detail-price">{{.harvestResource.Tariff}}</h3>
                <p class="service-detail-description">
                    {{.harvestResource.DetailedDescription}}
                </p>
            </div>
        </div>
    </section>
</body>
</html>